//COLORS
$primary:         				#E74C3C;
$primary-light:						#F1C3BF;
$primary-lighter:					#F9F2F2;
$secondary:								#22252A;
$secondary-light:					#555A63;
$secondary-lighter:				#E6E9EE;
$background-primary:			#F9F9F9;
$background-secondary:		#FFFFFF;
$status-complete:					#57BC27;
$status-error:						#F9B13D;

$success:         				$status-complete;
$warning:         				$status-error;

$gutter: 									2.4rem;
$header-height:           7rem;
$border-radius: 					3px;
$shadow:									0 2px 4px rgba(black, .08);
