//COLORS
$brand-primary:         	#E74C3C;
$brand-primary--light:		#F1C3BF;
$brand-secundary:					#22252A;
$brand-secundary--light:	#555A63;
$background-primary:			#F9F9F9;
$background-secundary:		#FFFFFF;
$status-complete:					#57BC27;
$status-error:						#F9B13D;

$gray-dark:								lighten(black, 20%);
$gray:										lighten(black, 40%);
$gray-light:							lighten(black, 60%);
$gray-lighter:						lighten(black, 80%);

$brand-success:         	#5cb85c;
$brand-warning:         	#f0ad4e;
$brand-info:            	#5bc0de;
$brand-danger:          	#d9534f;

$gutter: 									2.4rem;

$shadow:									0 2px 4px rgba(black, .08)