<% wrap_layout :layout do %>
	<div class="wrapper">
		<div class="main-content">
			<header class="main-content__header">
				<h1 class="sr-only">marsman-template</h1>
				<%= link_to svg('marsman-template-negative'), '/index.html' %>
			</header>
			<%= yield %>
		</div>
		<%= partial 'partials/footer' %>
	</div>
<% end %>

