<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <%= svg('marsman-template') %>
    </div>
    <nav class="header__nav">
      <div class="header__lenguages">
        <button class="btn">
          ES <i class="icon-caret"></i>
        </button>
      </div>
      <ul class="nav-inline">
        <li><a href="#">Lorem ipsum.</a></li>
        <li><a href="#">Minus, debitis.</a></li>
        <li><a href="#">Ipsa, temporibus.</a></li>
        <li><a href="#">Modi, vel.</a></li>
        <li><a href="#">Ducimus, dolorum.</a></li>
      </ul>
    </nav>
    <div class="header__actions">
      <input type="text" class="search" placeholder="Search..." >
      <button class="btn-primary">Upload</button>
      <button class="header__user-info">
        <%= image_tag('avatar.png')%>
      </button>
    </div>
  </div>
</header>