<nav class="nav-responsive">
  <div class="nav-responsive__header">
    <input type="text" class="search" placeholder="Search..." >
  </div>
  <div class="pills">
    <%= link_to 'Shop', '/index.html', class:'pills__link active' %>
    <%= link_to 'Company', '/index.html', class:'pills__link' %>
    <%= link_to 'Platform', '/index.html', class:'pills__link' %>
  </div>
</nav>
