<nav class="nav-responsive">
  <div class="nav-responsive__header">
    
  </div>
  <ul class="pills">
    <li class="pills__item">
      <a class="pills__link" href="/">Shop</a>
    </li>
    <li class="pills__item">
      <a class="pills__link" href="/">Company</a>
    </li>
    <li class="pills__item">
      <a class="pills__link" href="/">Platform</a>
    </li>
  </ul>
</nav>