body.toolkit{
	padding-top: 4rem;
	padding-bottom: 4rem;

	.toolkit{
		&__container{
			@extend .container;
			@media (min-width: $screen-sm){
				padding-left: $gutter;
				padding-right: $gutter;
			}
		}

		&__row{
			@media (min-width: $screen-sm ){
				@include make-row($gutter*2)
			}
		}

		&__item{
			margin-bottom: 4rem;
			@media (min-width: $screen-sm ){
				@include make-column(6, $gutter*2);
			}
		}

		&__block{
			margin-bottom: 4rem;
		}

		&__checkboxes {
			@extend .toolkit__block;
		}

		&__table{
			display: table;
			width: 100%;
		}
		&__cell{
			display: table-cell;
			text-align: center;
			&:first-of-type{
				text-align: left;
			}
			&:last-of-type{
				text-align: right;
			}
		}
	}

	.typography{
		&__container{
			display: block;
			clear: both;
			padding-left: $gutter/2;
			padding-right: $gutter/2;
			@media (min-width: 500px) and (max-width: $screen-sm - 1){
				clear: none;
				margin-left: 25%;
				padding-left: $gutter/2;
			}
			@media (min-width: $screen-sm){
				clear: none;
				margin-left: 25%;
				padding-left: $gutter/2;
			}
		}

		&__item{
			@include clearfix;
			@include ellipsis;
			padding-right: $gutter/2;
			text-align: right;
			color: $secondary-light;
		}

		&__title{
			color: $secondary;
			float: left;
			margin-right: .3em;
		}

		&__h1{
			@extend .typography__item;
			@extend .h1;
		}

		&__h2{
			@extend .typography__item;
			@extend .h2;
		}

		&__base{
			@extend .typography__item;
		}

		&__small{
			@extend .typography__item;
			@extend .small;
		}

	}
}