body.toolkit{
	padding-top: 4rem;

	.toolkit__container{
		@extend .container;
		@media (min-width: $screen-sm){
			padding-left: $gutter*3;
			padding-left: $gutter*3;
		}
	}

	.toolkit__item{
		padding-bottom: 4rem;
		@include make-sm-column(6, $gutter*3);
		@include make-sm-clear(2);
	}

	.typography{
		&__container{
			display: block;
			clear: both;
			padding-left: $gutter/2;
			padding-right: $gutter/2;
			@media (min-width: 500px) and (max-width: $screen-sm - 1){
				clear: none;
				margin-left: 25%;
				padding-left: $gutter/2;
			}
			@media (min-width: $screen-sm){
				clear: none;
				margin-left: 25%;
				padding-left: $gutter/2;
			}
		}

		&__item{
			@include clearfix;
			@include ellipsis;
			padding-right: $gutter/2;
			text-align: right;
			color: $gray-light;
		}

		&__title{
			color: $gray;
			float: left;
			margin-right: .3em;
		}

		&__h1{
			@extend .typography__item;
			@extend .h1;
		}

		&__h2{
			@extend .typography__item;
			@extend .h2;
		}

		&__base{
			@extend .typography__item;
		}

		&__small{
			@extend .typography__item;
			@extend .small;
		}

	}
}