%btn {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0; // For input.btn
  font-weight: normal;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  user-select: none;
  max-width: 100%;
  transition: all .2s ease-out;

  &.is-block{
    width: 100%;
    min-width: auto;
    margin-bottom: 1em;
  }

  &.is-wide{
    min-width: 12em;
  }
}

@mixin button-color($color, $bg, $border: transparent, $color--active: $color,
 $bg--active: darken($bg, 15%), $border--active: $border) {
  color: $color;
  background-color: $bg;
  border-color: $border;

  &:hover {
    color: $color--active;
    background-color: $bg--active;
    border-color: $border--active;
    outline: 0;
    text-decoration: none;
  }

  &:focus {
    @include focus($bg, .8);
    text-decoration: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: .65;
    box-shadow: none;
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size,
 $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

button{
  color: inherit;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  appearance: none;
  &:hover,
  &:focus,
  &:active{
    outline: 0;
    text-decoration: none;
  }
}

.btn{
  @extend %btn;
  &:hover,
  &.active,
  &:focus{
    text-decoration: none;
  }
}

.btn-primary{
  @extend %btn;
  @include button-color(white,$primary);
  @include button-size(.3em, 1em, inherit, 1.4em, 3px);
}

.btn-primary-light{
  @extend %btn;
  @include button-color($primary,$primary-lighter, transparent,
    $primary, lighten($primary, 30%), $primary);
  @include button-size(.3em, 1em, inherit, 1.4em, 3px);
}

.btn-secondary{
  @extend %btn;
  @include button-color(white, $secondary-light);
  @include button-size(.3em, 1em, inherit, 1.4em, 3px);
}

.btn-secondary-light{
  @extend %btn;
  @include button-color($secondary-light, $secondary-lighter, transparent,
    $secondary-light, lighten($secondary-light, 45%), $secondary-light);
  @include button-size(.3em, 1em, inherit, 1.4em, 3px);
}

.btn-icon{
  @extend %btn;
  @include button-size(0, 0, 1em, 2.2em, 50%);
  color: $secondary-light;
  border: 1px solid $secondary-lighter;
  width: 2.3em;
  height: 2.3em;
  opacity: .7;
  transform: scale(1);
  transition: all .2s ease-out;
  position: relative;

  //fix position icon 
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover{
    transform: scale(1.1);
    text-decoration: none;
    opacity: 1;
  }
}
