$buttons--fs: $fs-small;

@mixin button($color, $bg, $border: transparent, $color--active: $color,
 $bg--active: darken($bg, 15%), $border--active: $border) {
  @extend %btn;
  color: $color;
  background-color: $bg;
  border-color: $border;
  min-width: 12em;

  &:hover,
  &:focus,
  &.active,
  &.focus {
    color: $color--active;
    background-color: $bg--active;
    border-color: $border--active;
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size,
 $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

button{
  color: inherit;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  &:focus{
    outline: 0;
  }
}

.btn-primary{
  @include button(white,$primary);

  &-light{
    @include button($primary,$primary-lighter, transparent,
     $primary, lighten($primary, 30%), $primary);
  }
}

.btn-secondary{
  @include button(white, $secondary-light);

  &-light{
    @include button($secondary-light, $secondary-lighter, transparent,
     $secondary-light, lighten($secondary-light, 30%), $secondary-light);
  }
}

%btn {
  @include button-size(.8em, 1em, $buttons--fs, 1, 3px);
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  user-select: none;
  max-width: 100%;
  transition: all .2s ease-out;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    outline: 0;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: .65;
    box-shadow: none;
  }
}

.btn-block{
  display: block;
  width: 100%;
  @include margin-bottom(($fs-base/$fs-small)* 1em);
}

.btn-rounded{
  @extend %btn;
  @include button-size(0, 0, 1em, 2.2em, 50%);
  color: $secondary-light;
  border: 1px solid $secondary-lighter;
  width: 2.3em;
  height: 2.3em;
  opacity: .7;
  transform: scale(1);
  transition: all .2s ease-out;

  &:hover{
    transform: scale(1.1);
    opacity: 1;
  }
}

.btn-facebook {
  @include button(white,#286B99);
  @extend .btn-block;
}

.btn-twitter{
  @include button(white,#3CB1E7);
  @extend .btn-block;
}