$input--disabled: .3;
$input--border: 1px solid $gray-lighter;
$input--border-radius: $border-radius;
$input--padding: .5em 1em;
$input--placeholder: $gray-lighter;

.form-group {
	margin-bottom: 1em;
}

%form-item{
  width: 100%;
  max-width: 100%;
  display: block;
  border: $input--border;
  border-radius: $input--border-radius;
  padding: $input--padding;
  transition: all .2s ease-out;
  margin-bottom: .3em;

  &:focus{
    box-shadow: 0 0 8px rgba($primary,.9);
    outline: none;
  }
  &::placeholder {
    color: $gray-light;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
}


label {
  display: block;
  max-width: 100%;
  line-height: 1.5em;

  + input {
    margin-top: .5em;
  }
}


input[disabled]{
  opacity: $input--disabled;
  pointer-events: none;
  + label{
    pointer-events: none;
    opacity: $input--disabled;
  }
}

%input-state{
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: calc(100% - .5em) center;
  padding-right: 2em;
}

input {
  @extend %form-item;
  background-image: none;
  background-color: white;

  &:required {
    @extend %input-state;
    background-image: image-url("icon-required.svg");
  }

  &.success {
    @extend %input-state;
    animation: escale10 .5s ease-out;
    border: 1px solid $success;
    background-image: image-url("icon-success.svg");
  }

  &.warning {
    @extend %input-state;
    animation: escale10 .5s ease-out;
    border: 1px solid $warning;
    background-image: image-url("icon-warning.svg");
  }
}


textarea {
  @extend %form-item;

  &[maxlength] {
    padding-bottom: 1.5em;
    resize: none;
  }
}

.character-counter{
  position: absolute;
  transform: translate(-100%,-100%);
  display: inline-block;
  pointer-events: none;
  padding: .5em;

  &.success{
    color: $success;
  }
  &.warning{
    color: $warning;
  }
}