$radio-scale: 0.9;
$radio-size: 1.2em;
$radio-padding: 2px;
$radio-dot-color: $font-color;
$radio-warning: $warning;
$radio-success: $success;

input[type="radio"] {
  @extend .sr-only;

  + label {
    display: inline-block;
    padding-right: .5em;
    cursor: pointer;
    user-select: none;

    &[data-radio-input]::before {
      margin-right: 0;
    }

    &.required::after{
      content: '';
    }

    &::before {
      content: '';
      display: inline-block;
      padding: $radio-padding;
      width: $radio-size;
      height: $radio-size;
      margin-right: .5em;
      vertical-align: middle;
      border: 1px solid;
      border-radius: 50%;
      transition: all 0.3s ease-out, border-width 0.1s ease-in-out;
      transform: scale(1);
      background-color: transparent;
      background-clip: content-box;
      box-sizing: border-box;
      position: relative;
      top: -0.1em
    }

    &:hover::before {
      border-width: 2px;
      transform: scale($radio-scale);
    }
  }

  &:focus {
    + label::before {
      border-width: 2px;
      transform: scale($radio-scale);
    }
  }

  &:checked {
    + label::before {
      transform: scale(1);
      border-width: 2px;
      background-color: $radio-dot-color;
    }
  }

  &.success,
  .form-group.success & {
    &:checked + label::before {
      background-color: $radio-success;
    }

    + label{
      color: $radio-success;

      &::before {
        background-color: $radio-success;
      }

      & + .info-field{
        color: $radio-success;
      }
    }

    &.success + label + .info-field {
      color: $radio-success;
    }
  }

  &.warning,
  .form-group.warning & {
    &:checked + label::before {
      background-color: $radio-warning;
    }

    + label{
      color: $radio-warning;
    }
  }

  &.warning + label + .info-field {
    color: $radio-warning;
  }
}

.radio-input{
  border: 0 !important;
  background-image: none !important;
  width: auto;
  display: inline-block;
  padding: .2em !important;
  width: 4em;
  margin-bottom: 0;
  margin-left: -.5em;
  line-height: 1;
}
