$input-disabled: .3;
$input-border: 1px solid $border-color;
$input-border-readonly: 1px solid #f8f8fa;
$input-border-radius: $border-radius;
$input-padding: .4em 1em;
$input-margin: .5em;
$input-placeholder: $font-color-light;
$input-success: $success;
$input-warning: $warning;
$input-line-height: $components-line-height;
$info-field-fs: $fs-small;

form {
  @include last-margin;
}

.form-inline {
  @extend .columns;
  margin-bottom: 1.5em;

  > * {
    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__title {
    @media (min-width: $screen-md) {
      width: 50%;
    }
    @media (min-width: $screen-sm) {
      text-align: right;
      padding-top: .5em;
    }
  }
}

.form-group,
.form-group__item {
  margin-bottom: 1.2em;
  @include last-margin;
}

%input-bg {
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: calc(100% - .5em) center;
  padding-right: 2em;
}

%form-item {
  appearance: none;
  width: 100%;
  max-width: 100%;
  display: block;
  color: $font-color;
  border: $input-border;
  border-radius: $input-border-radius;
  padding: $input-padding;
  transition: background .2s ease-out, border .2s ease-out;
  background-image: none;
  background-color: white;
  margin-bottom: $input-margin;
  line-height: $input-line-height;

  &:last-child {
    margin-bottom: 0;
  }

  &:focus {
    @include focus;
  }

  &::placeholder {
    color: $input-placeholder;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }

  &.inline {
    display: inline-block;
    width: auto;
    & + & {
      margin-left: $gutter/2;
    }
  }

  &:required,
  &.required {
    @extend %input-bg;
    background-image: image-url("icon-required.svg");
  }

  &.success,
  .form-group.success & {
    @extend %input-bg;
    animation: escale10 .5s ease-out;
    border: 1px solid $input-success;
    background-image: image-url("icon-success.svg");

    &:focus {
      @include focus(rgba($input-success, .4));
    }

    + .info-field {
      color: $input-success
    }
  }

  &.warning,
  .form-group.warning & {
    @extend %input-bg;
    animation: escale10 .5s ease-out;
    border: 1px solid $input-warning;
    background-image: image-url("icon-warning.svg");

    &:focus {
      @include focus(rgba($input-warning, .4));
    }

    + .info-field {
      color: $input-warning
    }
  }
}

label {
  display: block;
  max-width: 100%;
  line-height: 1.5em;
  margin-bottom: $input-margin;

  &.required::after {
    content: "*";
    margin-left: .25em;
  }
}

.info-field {
  width: 100%;
  display: block;
  font-size: $info-field-fs;
  margin-bottom: $input-margin;
}

input[disabled] {
  opacity: $input-disabled;
  pointer-events: none;

  + label {
    pointer-events: none;
    opacity: $input-disabled;
  }
}

input[readonly] {
  border: $input-border-readonly;
  pointer-events: none;

  + label {
    pointer-events: none;
  }
}

input:not([type="submit"]) {
  @extend %form-item;

  &.search {
    @extend %input-bg;
    background-color: $secondary-lighter;
    transition: all .2s ease-out;
    background-image: image-url("icon-search.svg");
    margin-bottom: 0;

    &:focus {
      background-color: white;
    }
  }
}

select {
  @extend %form-item;
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: calc(100% - .7em) center;
  padding-right: 2em;
  background-image: image-url("icon-caret-down.svg") !important;

  &::-ms-expand {
    display: none;
  }
}

textarea {
  @extend %form-item;

  &[maxlength] {
    padding-bottom: 1.5em;
    resize: none;
  }
}

.character-counter {
  position: absolute;
  transform: translate(-100%, -100%);
  display: inline-block;
  pointer-events: none;
  padding: .5em;

  &.success {
    color: $input-success;
  }
  &.warning {
    color: $input-warning;
  }
}

.g-recaptcha {
  margin-top: .2em;
  margin-bottom: .8em;
}
