* { box-sizing: border-box; }

body{
	background-color: $background-primary;
	min-width: 320px;
	min-height: 100vh;

  &.primary{
    background-color: $primary;
  }
}

::selection { background: lighten($secondary,70%); }

a,
.link{
  text-decoration: none;
  color: $primary;
  &:hover,
  &.active,
  &:focus{
    outline: 0;
    text-decoration: underline;
  }
}

ul{
  margin-top: 0;
	margin-bottom: 1.5em;
}

li{
  margin-bottom: .25em;
}

.shape{
  width: 100%;
  max-height: 100%;
}