* { box-sizing: border-box; }

body{
	background-color: $background-primary;
	min-width: 320px;
	min-height: 100vh;

  &.primary{
    background-repeat: repeat-x;
    background-color: $primary;
    background-image: linear-gradient(to bottom, $primary 30%,
     lighten($primary, 10%) 100%);
  }
}

::selection { background: lighten($secondary,70%); }

a,
.link{
  text-decoration: none;
  color: $primary;
  &:hover,
  &.active,
  &:focus{
    outline: 0;
    text-decoration: underline;
  }
}

ul{
  margin-top: 0;
  padding-left: 1.1em;
	@include margin-bottom;
}

li{
  @include margin-bottom (.25em);
}

.shape{
  width: 100%;
  max-height: 100%;
}