%icon {
	@include fa-icon;
	text-decoration: none;
	vertical-align: middle;

	&:hover{
		text-decoration: none;
	}
}

.icon-loader {
	animation-duration: .75s;
	color: inherit;
	@extend %icon;
	@extend .fa-spin;
	@extend .fa-spinner;
}

.icon-edit {
	@extend %icon;
	@extend .fa-pencil;
}

.icon-cart {
	@extend %icon;
	@extend .fa-shopping-cart;
}

.icon-del {
	@extend %icon;
	@extend .fa-trash;
}

.icon-detail {
	@extend %icon;
	@extend .fa-chevron-right;
}

.icon-actions {
	@extend %icon;
	@extend .fa-ellipsis-v;
}

.icon-close {
	@extend %icon;
	@extend .fa-times;
}

.icon-search {
	@extend %icon;
	@extend .fa-search;
}

.icon-filter {
	@extend %icon;
	@extend .fa-filter;
}

.icon-add {
	@extend %icon;
	@extend .fa-plus;
}

.icon-logout {
	@extend %icon;
	@extend .fa-sign-out;
}

.icon-caret {
	@extend %icon;
	@extend .fa-caret-down;

	.dropdown.open .icon {
		@extend .fa-caret-up;
	}
}

.icon-on {
	@extend %icon;
	@extend .fa-toggle-on;
}

.icon-off {
	@extend %icon;
	@extend .fa-toggle-off;
}
