$icon-loader-color: inherit;
$icon-loader-animation-duration: .75s;

.icon {
	$this: '.icon';
	@extend .fa;
	text-decoration: none;

	&:hover{
		text-decoration: none;
	}

	&-edit {
		@extend #{$this};
		@extend .fa-pencil;
	}

	&-del {
		@extend #{$this};
		@extend .fa-trash;
	}

	&-detail {
		@extend #{$this};
		@extend .fa-chevron-right;
	}

	&-close {
		@extend #{$this};
		@extend .fa-times;
	}

  &-loader {
    animation-duration: $icon-loader-animation-duration;
    color: $icon-loader-color;
    @extend #{$this};
    @extend .fa-spin;
    @extend .fa-spinner;

    &__right-sided {
      margin-left: 10px;
    }

    &__left-sided {
      margin-right: 10px;
    }
  }
}
