.icon {
	$this: '.icon';
	@extend .fa;
	text-decoration: none;

	&:hover{
		text-decoration: none;
	}

	&-edit {
		@extend #{$this};
		@extend .fa-pencil;
	}

	&-del {
		@extend #{$this};
		@extend .fa-trash;
	}

	&-detail {
		@extend #{$this};
		@extend .fa-chevron-right;
	}
}