$table--color: $font-base-color;
$table--bg-color: $background-primary;
$table--border: 1px solid $table--color;
$table__tr--odd: $table--bg-color;
$table__tr--even: inherit;
$table__td--border: 1px solid $table--bg-color;

table {
	font-size: $fs-small;
	width: 100%;
	border-collapse: separate;
	border: 1px solid;

	tr {
		&.odd {
			background-color: $table--bg-color;
		}

		&.even {
			background-color: $table__tr--even;
		}

	}

	th {
		padding: .5em 1em;
		text-align: left;
		vertical-align: middle;
		background-color: $table--color;
		font-weight: normal;
		color: white;
	}

	td {
		padding: 1em;
		vertical-align: top;
		border-left: 1px solid $table--bg-color;

		&:first-child {
			border-left: 0;
		}
	}
}


.cell{
	&-select {
		padding-right: 0;
		padding-bottom: 0;
	}
	&-actions{
		white-space: nowrap;
		@extend .actions;
	}
}