table {
	$color: $font-color;
	$bg-color: $background-primary;

	font-size: $fs-small;
	width: 100%;
	border-collapse: separate;
	border: 1px solid;

	tr {
		&.odd {
			background-color: $bg-color;
		}

		&.even {
			background-color: inherit;
		}

	}

	th {
		padding: .5em 1em;
		text-align: left;
		vertical-align: middle;
		background-color: $color;
		font-weight: normal;
		color: white;
	}

	td {
		padding: 1em;
		vertical-align: top;
		border-left: 1px solid lighten($color,50%);
		border-top: 1px solid lighten($color,50%);

		&:first-child {
			border-left: 0;
		}
	}
}


.cell{
	&-select {
		padding-right: 0;
		padding-bottom: 0;
	}

	&-actions{
		white-space: nowrap;

		> * {
			margin-left: .5em;
			&:first-child{
				margin-left: 0;
			}
		}
	}
}
