---
title: 404
layout: primary
body: 404 error
---

<div class="hero">
	<div class="hero__content">
		<div class="hero__image">
			<%= svg('404') %>
		</div>
		<h1>Opps! This page couldn’t be found…</h1>
		<div class="hero__button">
			<a href="/" class="btn-secondary">Take me back home</a>
		</div>
	</div>
</div>