---
title: Welcome to Middleman
modify: button
---

<div class="welcome">
  <h1>The Martians are Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>
<% if modify('button') %>
<a href="#" class="btn <%= modify('button','btn-primary') %>">Test</a>
<% end %>
