---
title: Welcome to marsman Template
body: home
---
<div class="container">
	<h1 class="sr-only">marsman-template</h1>
  <%= partial 'svg', locals:{name: 'marsman-template'} %>
  <div class="list-pages">
		<div class="row">
			<div class="col-sm-6">
				<h4>Login</h4>
				<ul>
					<li><a href="/sign-up/">Sign up</a></li>
					<li><a href="/sign-in/">Sign in</a></li>
					<li><a href="/reset-password/">Reset Password</a></li>
					<li><a href="/terms-and-conditions/">Terms and conditions</a></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h4>Otras</h4>
				<ul>
					<li><a href="/toolkit/">Toolkit</a></li>
					<li><a href="/404/">404</a></li>
					<li><a href="/maintenance/">Maintenance</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
