---
title: Maintenance
layout: primary
body: 404 error
---

<div class="hero">
	<div class="hero__content">
		<div class="hero__image">
			<%= svg('maintenance') %>
		</div>
		<h1>MarsMan is currently undergoing some maintenance.</h1>
		<p>Thank you for your understanding. We will be back in few minutes.</p>
		<div class="hero__button">
			<a href="/" class="btn-secondary">Take me back home</a>
		</div>
	</div>
</div>
