---
title: Maintenance
layout: primary
body: 404 error
---

<div class="hero">
	<div class="hero__content">
		<div class="hero__image">
			<%= svg('maintenance') %>
		</div>
		<h1>MarsMan is currently undergoing some maintenance.</h1>
		<p>Thank you for your understanding. We will be back in few minutes.</p>
		<div class="hero__button">
			<%= link_to 'Take me back home', '/index.html', class:'btn-secondary' %>
		</div>
	</div>
</div>
