---
title: Login
layout: primary
versions: error
body: reset-password
---

<div class="box--form">
	<div class="box__header">
		<h1>Reset your password</h1>
	</div>
	<div class="box__content">
		<p>
			Enter your email address and we will send you a link to reset your password.
		</p>
		<form action="/login">
			<div class="form-group">
				<input type="email" class="required <%= version('error','warning') %>"
				 name="email" placeholder="Enter your email address" >
				<% if version('error') %>
				<div class="info-field">The email entered is not valid.</div>
				<% end %>
			</div>
			<p class="centered">
				<button class="btn-primary btn-block" type="submit">
					Send password reset email
				</button>
			</p>
		</form>
	</div>
</div>

