---
title: Welcome to marsman Template
body: whole-page-test
---
<%= partial 'partials/header' %>
<div class="main-content">

<i class="scroll-down active" data-scroll=".footer"></i>
</div>
<%= partial 'partials/footer' %>