---
title: Messaging
messaging_user_link: /profile
empty: true
---

<div class="messaging-page">
  <%= partial "partials/messaging/message-list" %>
  <%= partial "partials/messaging/chat-container" %>
</div>