.box {
	$this: '.box';
	$this--padding: $gutter;
	$this--border-color: $secondary-lighter;
	$this__header--bg-color: $background-primary;
	$this--border-radius: 8px;

	padding: $this--padding;
	background: white;
	border: 1px solid $this--border-color;
	border-radius: $this--border-radius;
	overflow: hidden;
	@include margin-bottom (1.5em);
	@include last-margin;

	&__header {
		margin: -#{$this--padding} -#{$this--padding} 0;
		min-height: 3.6rem;
		padding: $this--padding;
		background-color: $this__header--bg-color;
		border-bottom: 1px solid $this__header--bg-color;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		padding: $this--padding $this--padding 0;
		margin-left: -$this--padding;
		margin-right: -$this--padding;
		margin-bottom: $this--padding;
		@include last-margin;
	}

	&__footer {
		border-top: 1px solid $secondary-lighter;
		padding: $this--padding;
		margin-left: -#{$this--padding};
		margin-right: -#{$this--padding};
		margin-bottom: -#{$this--padding} !important;
		@include last-margin;
	}

	&__nav {
		text-align: right;
		> * {
			margin-left: .5em;
		}
	}

	&--transparent {
		@extend .box;
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
		padding-left: 0;
		padding-right: 0;

		#{$this}__header {
			padding-bottom: 0;
			border-color: transparent;
		}

		#{$this}__footer {
			border-color: transparent;
		}
	}

	&--primary {
		@extend .box;
		#{$this}__header {
			color: white;
			background-color: $primary;
		}

		#{$this}__footer {
			background-color: $secondary;
		}
	}

	&--form {
		@extend .box;
		max-width: 460px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 16px 33px rgba(black, .28);

		.box__header {
			text-align: center;
		}

		.box__content {
			max-width: 308px;
			padding-left: 0;
			padding-right: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--form-m {
		@extend .box;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 16px 33px rgba(black, .28);
	}
}