.footer {
	&__main {
		padding: 50px 0;
		background-color: $background-secondary;
		border-top: 1px solid $secondary-lighter;
		border-bottom: 1px solid $secondary-lighter;
	}

	&__container {
		@extend .container;
	}

	&__link-groups {
		@include make-sm-column(6,0);
		@include make-row(0)
	}

	&__link-group {
		@include make-sm-column(4);
		margin-bottom: 2em;
		@media (min-width: $screen-sm){
			margin-bottom: 0;
		}

		ul {@extend .list-reset;}

		a {@extend .reset-link;}
	}

	&__social {
		margin-top: 2em;
		@include make-sm-column(6);
		@media (min-width: $screen-sm){
			text-align: right;
			margin-top: 0;
		}
	}

	&__social-icons{
		@extend .list-reset;

		li {
			display: inline-block;
			@media (min-width: $screen-sm){
				margin-left: .5em;
			}
		}
	}

	&__icon {
		$icons: 'google-plus','github','instagram','linkedin','facebook','twitter','envelope';

		@each $icon in $icons {
		  &--#{$icon} {
		  	@extend .btn-rounded;
				@extend .fa;
				@extend .fa-#{$icon};
		  }
		}
	}

	&__logo {
		height: 38px;
		width: 110px;
		display: inline-block;
		margin-bottom: 1.5em;
	}

	&__info {
		background-color: $background-primary;
		padding: 1.5em 0;
	}

	&__copyright {
		@include make-sm-column(10);
		line-height: $fs-h1;
		text-align: center;
		@media (min-width: $screen-sm) {
			text-align: inherit;
		}
	}

	&__top-page {
		@extend .reset-link;
		@include make-sm-column(2);
		display: block;
		text-align: center;
		font-size: $fs-h1;
		line-height: 1;
		@media (min-width: $screen-sm){
			text-align: right;
		}
	}
}