.header {
	$this: '.header';
	$height: $header-height;
	$height-bp: $header-height-breakpoint;
  $gutter: $gutter;

	display: flex;
	background-color: $background-secondary;
	min-height: $height-bp;
	border-bottom: 1px solid $primary-light;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	@media (min-width: $grid-breakpoint){
		min-height: $height;
		body:not(.fixed) &{
			position: static;
		}
	}

	&__container {
		@include container-fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	}

	&__logo {
		height: $height - $gutter;
		flex: 1;
		text-align: center;
		padding-top: .5rem;
		padding-bottom: .5rem;
		@media (min-width: $grid-breakpoint){
			flex: initial;
			margin-right: $gutter;
			padding-top: 0;
			padding-bottom: 0;
		}

		img, svg {
			height: 100%;
			width: 13rem;
		}
	}

	&__nav {
		flex: 1;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		min-width: 400px;
		@media (max-width: $grid-breakpoint - 1){
			display: none;
		}

		> *:not(:last-child) {
			margin-right: $gutter;
		}
	}

	&__actions {
		$spacing: $gutter/2;

		text-align: right;
		display: flex;
		align-items: center;

		> *:not(:last-child) {
			margin-right: $spacing;
		}

		> *:not(#{$this}__user-info){
			@media (max-width: $grid-breakpoint - 1){
				display: none;
			}
		}

		input.search {
			max-width: 20rem;
			min-width: 10rem;
		}
	}

	&__user-info{
		$size: 3.2rem;

		min-width: 5rem;

		img{
			height: $size;
			width: $size;
			border-radius: 50%;
			background-color: $secondary;
			vertical-align: middle;
		}
	}
}
