.hero {
	height: calc(100vh - 20rem); //header + paddings
  display: table;
  width: 100%;
  text-align: center;
  position: relative;
  @extend .container;

  .hero__content {
		display: table-cell;
	  vertical-align: middle;
  }

  .hero__image {
  	height: 90px;
  	width: auto;
  	@include margin-bottom(50px);

    svg {
      opacity: .2;
    }
  }

  .hero__button {
  	margin-top: 2em;
  }
}
