.main-content {
	min-height: 100vh;
	padding-top: 1.5em;
	padding-bottom: 1.5em;

	&__header {
		text-align: center;

		.marsman-template-negative{
			width: 110px;
			height: 38px;
			margin-bottom: 1.5em;
		}
	}
}