$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;

$modal-backdrop-bg:           black;
$modal-backdrop-opacity:      .4;

$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    400px;


@keyframes modal-in {
  0% {
    transform: translate(0, -25%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  &.fade .modal-dialog {
    transform: translate(0, -25%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  &.in .modal-dialog {
    animation: modal-in .5s;
    animation-fill-mode: forwards;
  }
}

.modal-open .modal.in {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -ms-flex-pack: center; //Center horizontaly ie
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0;
  padding: $gutter/2 $gutter/2 0;

  > * {
    box-shadow: 0 1px 10px rgba(black, .6);
    margin-bottom: $gutter;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  transition: opacity .1s ease-out;

  &.fade {
    opacity: 0;
  }

  &.in {
    opacity: $modal-backdrop-opacity;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (min-width: $screen-sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: $modal-md;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 16px 33px rgba(0, 0, 0, 0.28);
  }

  // Modal sizes
  .modal-sm {
    width: $modal-sm;
  }
}

@media (min-width: $screen-md) {
  .modal-lg {
    width: $modal-lg;
  }
}
