.pagination {
  $color: $font-color;
  $border-color: $background-primary;
  $hover-bg: $primary;
  $hover-color: white;
  $active-bg: $primary-light;
  $active-color: white;

  display: inline-block;
  padding-left: 0;
  border-radius: $border-radius;
  background-color: $background-secondary;

  > li {
    display: inline; // Remove list-style and block-level defaults
    a{
      @extend .reset-link;
      position: relative;
      float: left; // Collapse white-space
      padding: .5em 1em;
      color: $color;
      line-height: 1.2;
      text-decoration: none;
      border: 1px solid $border-color;
      transition: all .2s ease-out;
      margin-left: -1px;

      &:hover,
      &:focus {
        background-color: $hover-bg;
        color: $hover-color;
      }

      &.is-active{
        background-color: $active-bg;
        color: $active-color;
        &:hover, &:focus{
          background-color: $hover-bg;
          color: $hover-color;
        }
      }

      &.is-disabled{
        opacity: .5;
      }
    }

    &:first-child a {
      margin-left: 0;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child a {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
