.popover {
  $max-width: 300px;
  $bg: lighten($warning, 36%);
  $color: $warning;
  $border-color: $warning;
  $border-radius: 6px;
  $title-bg: $warning;
  $title-color: white;
  $arrow-color: $bg;
  $arrow-width: 10px;
  $arrow-outer-width: ($arrow-width + 1);
  $arrow-outer-color: $warning;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  font-size: $fs-base;
  line-height: $line-height-base;
  max-width: $max-width;
  font-weight: normal;
  text-align: left;
  background-color: $bg;
  background-clip: padding-box;
  color: $color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $shadow;

  // Overrides for proper insertion
  white-space: normal;

  // Offset the popover to account for the popover arrow
  &.top     { margin-top: -$arrow-width; }
  &.right   { margin-left: $arrow-width; }
  &.bottom  { margin-top: $arrow-width; }
  &.left    { margin-left: -$arrow-width; }

  &.html {
    $this--bg: white;
    $this--width: 10px;
    $this--outer-width: ($this--width + 1);
    $this--outer-color: $primary;

    @extend .popover;
    background-color: $this--bg;
    border: 1px solid $this--outer-color;
    color: $font-color;

    &.top > .arrow {
      left: 50%;
      margin-left: -$this--outer-width;
      border-bottom-width: 0;
      border-top-color: $this--outer-color;
      bottom: -$this--outer-width;
      &:after {
        content: " ";
        bottom: 1px;
        margin-left: -$this--width;
        border-bottom-width: 0;
        border-top-color: $this--bg;
      }
    }
    &.right > .arrow {
      top: 50%;
      left: -$this--outer-width;
      margin-top: -$this--outer-width;
      border-left-width: 0;
      border-right-color: $this--outer-color;
      &:after {
        content: " ";
        left: 1px;
        bottom: -$this--width;
        border-left-width: 0;
        border-right-color: $this--bg;
      }
    }
    &.bottom > .arrow {
      left: 50%;
      margin-left: -$this--outer-width;
      border-top-width: 0;
      border-bottom-color: $this--outer-color;
      top: -$this--outer-width;
      &:after {
        content: " ";
        top: 1px;
        margin-left: -$this--width;
        border-top-width: 0;
        border-bottom-color: $this--bg;
      }
    }

    &.left > .arrow {
      top: 50%;
      right: -$this--outer-width;
      margin-top: -$this--outer-width;
      border-right-width: 0;
      border-left-color: $this--outer-color;
      &:after {
        content: " ";
        right: 1px;
        border-right-width: 0;
        border-left-color: $this--bg;
        bottom: -$this--width;
      }
    }
  }

  &-title {
    margin: 0; // reset heading margin
    padding: .5em 1em;
    color: $title-bg;
    background-color: $title-bg;
    color: $title-color;
  }

  &-content {
    padding: .5em 1em;
  }

  &-icon {
    @extend .reset-link;
    @extend %icon;
    @extend .fa-question-circle;
    vertical-align: top;
    font-size: .9em;
    color: $warning;
  }

  // Arrows
  // .arrow is outer, .arrow:after is inner
  & > .arrow {
    &,
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }

  & > .arrow {
    border-width: $arrow-outer-width;
  }

  & > .arrow:after {
    border-width: $arrow-width;
    content: "";
  }

  //modifers
  &.top > .arrow {
    left: 50%;
    margin-left: -$arrow-outer-width;
    border-bottom-width: 0;
    border-top-color: $arrow-outer-color;
    bottom: -$arrow-outer-width;
    &:after {
      content: " ";
      bottom: 1px;
      margin-left: -$arrow-width;
      border-bottom-width: 0;
      border-top-color: $arrow-color;
    }
  }
  &.right > .arrow {
    top: 50%;
    left: -$arrow-outer-width;
    margin-top: -$arrow-outer-width;
    border-left-width: 0;
    border-right-color: $arrow-outer-color;
    &:after {
      content: " ";
      left: 1px;
      bottom: -$arrow-width;
      border-left-width: 0;
      border-right-color: $arrow-color;
    }
  }
  &.bottom > .arrow {
    left: 50%;
    margin-left: -$arrow-outer-width;
    border-top-width: 0;
    border-bottom-color: $arrow-outer-color;
    top: -$arrow-outer-width;
    &:after {
      content: " ";
      top: 1px;
      margin-left: -$arrow-width;
      border-top-width: 0;
      border-bottom-color: $arrow-color;
    }
  }

  &.left > .arrow {
    top: 50%;
    right: -$arrow-outer-width;
    margin-top: -$arrow-outer-width;
    border-right-width: 0;
    border-left-color: $arrow-outer-color;
    &:after {
      content: " ";
      right: 1px;
      border-right-width: 0;
      border-left-color: $arrow-color;
      bottom: -$arrow-width;
    }
  }
}
